* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: rgb(240, 240, 240);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}


@keyframes change-color {
    from {
        color: #eee;
    }

    to {
        color: #0ff;
    }
}

header .freeship {
    background-color: rgb(31, 107, 138);
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    height: 35px;
    color: white;
}

header .freeship span {
    animation-name: change-color;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

header nav {
    display: flex;
    margin-right: auto;
    background-color: #070720;
    height: 48px;
    padding: 7px 0;
}

header nav .logo {
    margin-right: 50px;
}

header nav>a {
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    transition-duration: 200ms;
    text-transform: uppercase;
}

header nav>a:after {
    display: block;
    content: '';
    border-bottom: solid 3px #0ff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

header nav>a:hover:after {
    transform: scaleX(1);
}

header nav .logo a {
    padding: 5px 15px;
    text-transform: uppercase;
}

header nav {
    position: relative;
}

header .menu {
    display: none;
    overflow: hidden;
}

header .menu.active {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: #1c1c4293;
    top: 48px;
    padding: 10px 50px 20px 50px;
    color: white;
    backdrop-filter: blur(10px);
}

header .menu ul {
    list-style: none;
}

header .menu li {
    padding: 5px 0;
}

header .menu a {
    color: white;
    font-family: Helvetica;
}

header .menu a:hover {
    color: #0ff;
}

header .menu .title {
    font-weight: bold;
    font-size: large;
    color: white;
    text-decoration: underline;

}

a {
    text-decoration: none;
}

.search-box {
    display: flex;
    width: 35%;
}

.search-box #onclick {
    display: none;
}

.search-box .btn {
    display: grid;
    place-items: center;
    margin-right: 10px;
    color: white;
    font-size: 20px;
    transition-duration: 200ms;
    cursor: pointer;
}

.search-box .search-bar {
    margin: 5px 0;
    padding: 0 20px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #0ff;
    background-color: #070720;
    transition-duration: 500ms;
}

.search-box .search-bar:focus {
    color: white;
}

::placeholder {
    color: white;
}

#onclick:checked~.search-bar {
    width: 0;
    opacity: 0;
    visibility: hidden;
}

#onclick:checked~.btn {
    font-size: 15px;
}

.authentication {
    align-items: center;
    margin-left: auto;
    display: flex;
}

.authentication a {
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    transition-duration: 200ms;
    text-transform: uppercase;
}

.authentication  .login {
    border: 1px solid white;
    cursor: pointer;
}

.authentication  .login a:hover {
    color: black;
    background-color: white;
}

.authentication  .signup {
    border: 1px solid white;
    background-color: white;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
}

.authentication  .signup a {
    color: black;
    text-decoration: none;
}


.main {
    margin-top: 73px;
}

.main * {
    font-family: Helvetica;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 1;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

.sale-block> .title {
    color: white;
    text-align: center;
    cursor: pointer;
}

.sale-block > .title {
    font-weight: bolder;
    font-size: x-large;
    padding: 20px;
    position: relative;
}

.sale-block> .title .a span {
    background-color: #1C1C42;
    padding: 5px 30px;
}

.sale-block> .title .a {
    position: relative;
    margin: 0 -20px;
}

.sale-block> .title .a::after {
    content: "";
    border-bottom: 10px solid #1C1C42;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: -1;
    position: absolute;
}

.sale-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    padding: 20px;
}

.sale-wrapper .product {
    padding: 10px 10px 0 10px;
    background: white;
    position: relative;
}

.sale-wrapper .product .sale-tag {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #1C1C42;
    color: white;
    padding: 5px;
    font-weight: lighter;
    font-size: small;
    z-index: 1000;
}

.sale-wrapper .product .image {
    height: 60%;
    cursor: pointer;
}

.sale-wrapper .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sale-wrapper .product .title {
    margin-top: 10px;
    font-weight: bold;
    color: black;
    text-align: center;
    cursor: pointer;
}

.sale-wrapper .product .title:hover {
    color: #0f1c55b4;
}

.sale-wrapper .product .price {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1C1C42;
}

.sale-wrapper .product .price .sale-price {
    font-size: larger;
    font-weight: 900;
}

.sale-wrapper .product .price .og-price {
    font-size: small;
}

.sale-wrapper .heart {
    color: pink;
    border: 1px solid purple;
}

.sale-wrapper .cart:hover {
    background-color: rgba(20, 104, 104, 0.493);
    color: white;
    transition-duration: 300ms;
}

.sale-wrapper .heart:hover {
    border: 1px solid rgb(134, 56, 128);
    background-color: pink;
    color: white;
    transition-duration: 300ms;
}

.sale-wrapper .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.best-seller-block {
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.best-seller-block .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-top: -30px;
    color: white;
    font-size: large;
}

.best-seller-block>.title>div>.header {
    font-size: larger;
    font-weight: bold;
    background-color: #1C1C42;
    padding: 5px 30px;
    
}

.best-seller-block>.title>div {
    position: relative;
    margin: 0 -20px;
}

.best-seller-block>.title>div::after {
    content: "";
    border-bottom: 10px solid #1C1C42;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: -1;
    position: absolute;
}

.best-seller-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    padding: 20px;
}

.product-grid .product,
.best-seller-wrapper .product {
    background-color: white;
    position: relative;
}

.product-grid .product .image,
.best-seller-wrapper .product .image {
    position: relative;
    padding: 0 55px;
}

.sale-wrapper .product .image {
     position: relative;
     padding: 40px;
}

.sale-wrapper .product>.image>.btn,
.product-grid .product>.image>.btn,
.best-seller-wrapper .product>.image>.btn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.5s ease;
}

.sale-wrapper .product:hover>.image>.btn,
.product-grid .product:hover>.image>.btn,
.best-seller-wrapper .product:hover>.image>.btn {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 5%;
    transition: right 0.5s ease;
}

.sale-wrapper .product:hover>.image>.btn {
    gap: 6px;
    right: 2%;
    top: 60%;
}

.sale-wrapper .product .btn .button, 
.product-grid .product .btn .button,
.best-seller-wrapper .product .btn .button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 10px #00000014;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.sale-wrapper .product .btn .button a,
.product-grid .product .btn .button a,
.best-seller-wrapper .product .btn .button a {
    color: black;
    font-weight: 400;
}
.sale-wrapper .product .btn .button:hover,
.product-grid .product .btn .button:hover,
.best-seller-wrapper .product .btn .button:hover {
    background-color: #1C1C42;
    transition: background-color 0.5s ease;
}

.sale-wrapper .product .btn .button:hover a,
.product-grid .product .btn .button:hover a,
.best-seller-wrapper .product .btn .button:hover a {
    color: white;
}

.product-grid .product .image,
.best-seller-block .product .image {
    cursor: pointer;
}

.product-grid .product .image img,
.best-seller-block .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-grid .product .info,
.best-seller-block .product .info {
    padding: 10px 5px 22px 5px;
    text-align: center;
}

.product-grid .product .info .name,
.best-seller-block .product .name {
    font-weight: bold;
}

.product-grid .product .info .name:hover,
.best-seller-block .product .name:hover {
    color: #1C1C42;
}

.product-grid .product .info .price,
.best-seller-block .product .price {
    margin-top: 10px;
    font-size: large;
    font-weight: 900;
    color: #1C1C42;
}

.countdown {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: #1C1C42;
}

.countdown h4 {
    text-align: center;
    padding-top: 2px;
}

.countdown .box p {
    font-size: small;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
}

.sale-block .more,
.best-seller-block .more {
    text-align: center;
    margin-top: 20px;
}

.sale-block .more span,
.best-seller-block .more span {
    font-weight: bold;
    font-size: larger;
    color: #1C1C42;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #1C1C42;
    transition-duration: 300ms;
}

.sale-block .more span:hover,
.best-seller-block .more span:hover {
    background-color: #1C1C42;
    color: white;
    transition-duration: 300ms;
}

.product-block .title {
    background-color: #1C1C42;
    padding: 20px;
    color: white;
    text-align: center;
}

.product-block .title span {
    font-size: larger;
    font-weight: bold;
    border-bottom: 1px solid #0ff;
}

.product-block .row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 20px;
}

.filter-panel {
    padding: 20px;
}

.filter-panel ul {
    list-style: none;
    margin-left: 20px;
}

.filter-panel li {
    padding: 5px 0;

}

.filter-panel a {
    text-decoration: none;
    color: black;
}

.filter-panel .header {
    padding: 5px 0;
    border-left: 3px solid black;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10px;
}

.filter-panel .header span {
    font-size: large;
    background-color: #F0F0F0;
    padding: 0 10px;
}

.filter-panel .header:after {
    content: "";
    border-bottom: 1px solid black;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: -1;
    position: absolute;
}

.filter-panel .filter {
    margin-bottom: 30px;
}

.filter-category a:hover::before {
    content: "\f105";
    font-family: FontAwesome;
    padding-right: 5px;
}

.filter-size ul {
    display: flex;
    gap: 30px;
}

.filter-size label>div {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: grid;
    place-items: center;
}

.filter-size #s1:checked+label[for="s1"]>div,
.filter-size #s2:checked+label[for="s2"]>div,
.filter-size #s3:checked+label[for="s3"]>div,
.filter-size #s4:checked+label[for="s4"]>div,
.filter-size #s5:checked+label[for="s5"]>div {
    background-color: #1C1C42;
    color: white;
}

.product-wrapper {
    padding: 20px;
}

.product-wrapper .tools {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.product-wrapper .sort select {

    padding: 5px;
    text-indent: 5px;
}

.product-wrapper .sort select:focus {
    outline: none;
}

.product-wrapper .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.product-grid .product {
    padding: 10px 0;
}

.product-grid .product .name {
    font-size: small;
}

.product-grid .product .price {
    font-size: medium;
    font-weight: 400;
    color: #1C1C42;
}

.product-wrapper .page-number ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}

.product-wrapper .page-number li {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border: 1px solid #1C1C42;
    cursor: pointer;
    transition-duration: 300ms;
}

.product-wrapper .page-number a {
    text-decoration: none;
    color: black;
    transition-duration: 300ms;
}

.product-wrapper .page-number li:hover a,
.product-wrapper .page-number li:first-child a {
    color: white;
    transition-duration: 300ms;
}

.product-wrapper .page-number li:hover,
.product-wrapper .page-number li:first-child {
    background-color: #1C1C42;
    transition-duration: 300ms;
}

.category .header {

}

.category .flex-box {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.category .container {
    width: 50%;
    background-color: white;
}

.category .container .header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
}

.category .container .header > span {
    display: grid;
    place-items: center;
    border-left: 2px solid #1C1C42;
    padding: 0 10px;
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    color: #1C1C42;
}

.category .container .header .more {
    background-color: #1C1C42;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.category .container .header .more a {
    color: white;
}

.category .product-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 0 5px;
}

.category .product-wrapper .product {
    cursor: pointer;
}

.category .product-wrapper .image {
    height: 60%;
}

.category .product-wrapper .info {
    padding: 5px 0;
    margin-top: 5px;
    text-align: center;
}

.category .product-wrapper .info .name {
    font-size: small;
    font-weight: 600;
}

.category .product-wrapper .info .price {
    font-weight: 900;
    font-size: medium;
    color: #1C1C42;
}

.category .product-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.category > .header {
    font-weight: bolder;
    font-size: x-large;
    color: white;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
}

.category > .header::after {
    content: "";
    border-bottom: 10px solid #1C1C42;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: -1;
    position: absolute;
}

.category > .header span {
   background-color: #1C1C42;
   padding: 5px 30px;
}


.category {}

.banner-image {
    margin-top: 10px;
    cursor: pointer;
}

.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.collections {
    margin-top: 50px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.collections img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mess {
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    cursor: pointer;
    z-index: 99999;
    transition-duration: 300ms;
}

.mess:hover {
    transform: scale(1.2);
    transition-duration: 300ms;
}

.scroll-top {
    box-shadow: 0 3px 10px #00000014;
    position: fixed;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    border: 5px solid white;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 99999;
    transition-duration: 300ms;
    color: white;
}

.scroll-top img {
    transition-duration: 300ms;
}

.scroll-top img:hover {
    transform: translateY(-4px);
    transition-duration: 300ms;
}


footer {
    margin-top: 50px;
    padding: 20px 50px;
    background-color: #070720;
}

footer * {
    color: white;
}

footer .logo {
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

footer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .description {
    margin: 10px 0;
    text-align: center;
}

footer .com {
    margin-top: 50px;
    margin-left: 50px;
    font-size: small;
}

footer .com p {
    color: rgba(255, 255, 255, 0.507);
}

footer .com hr {
    border: 1px solid #1C1C42;
    margin-bottom: 10px;
}

.login-box, .signup-box {
    display: none;
}

.login-box.active, .signup-box.active {
    display: block;
}

.login-box, .signup-box {
    width: 100%;
    height: 100%;
    background-color: #1818188f;
    position: fixed;
    z-index: 6666;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box .form, .signup-box .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0d3;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 60px;
    height: 350px;
    width: 400px;
    border-radius: 4px;
}

.login-box .form .header, .signup-box .form .header{
    margin-bottom: 30px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: #1C1C42;
    text-transform: uppercase;
}

.login-box .form > div > input, .signup-box .form > div > input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #F0F0F0;
    border: 1px solid #1c1c4296;
    margin-bottom: 20px;
    padding: 10px 0 10px 5px;
    border-radius: 5px;
    font-size: medium;
}

.login-box .form input::placeholder, .signup-box .form input::placeholder {
    color: rgba(0, 0, 0, 0.521);
    font-size: medium;
}

.login-box .form .btn-box button, .signup-box .form .btn-box button {
    background-color: #1C1C42;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.login-box .form .row {
    margin-top: 5px;
    display: flex;
    white-space: nowrap;
    margin-bottom: 35px;
}

.login-box .form .row .remember {
    display: flex;
    width: 50%;
    font-size: smaller;
}

.login-box .form .row .remember input {
    margin-right: 3px;
}

.login-box .form .row .forgot {
    width: 50%;
    text-align: right;
    font-size: smaller;
}

.login-box .form .row .forgot a {
    color: black;
}

.login-box .form .register, .signup-box .form .login{
    text-align: center;
    margin-top: 20px;
}

.login-box .form .register a, .signup-box .form .login a {
    color: black;
}